

<div class="container">
  <h3>Book</h3>

<table class="indes-table">
  <thead>
    <th>title</th>
    <th>body</th>
    <th></th>
  </thead>
  <% @books.each do |book| %>
  <tbody>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
    <td><%= link_to "Show", "/books/#{book.id}" %></td>
    <td><%= link_to "Edit", "/books/#{book.id}/edit" %></td>
    <td><%= link_to "Destroy", "/books/#{book.id}", method: :delete%></td>
  </tbody>
  <% end %>
</table>

<h2>New book</h2>
<div class="new-book">
  <%= form_with model: @book, local:true do |f| %>
      <% @book.errors.full_messages.each do |message| %>
        <li>error  <%= message %></li>
      <% end %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
</div>
</div>